
* {
    margin:0; 
    padding:0;
}

.main{
    height: 100vh;
}

.logoMain{
    height: 99vh;
    width: 100%;
}

.listBotones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin: auto;
    position: fixed;
    top: 0;
    opacity: 0.9;
    
}

.botones{
    display: flex;
    background-color: rgb(196, 160, 76);
    background-image: linear-gradient(to right, rgb(228, 219, 80),rgb(196, 160, 76) ,rgb(196, 160, 76), rgb(196, 160, 76), rgb(228, 219, 80));
    width: 135px;
    height: 50px;
    border-radius: 30px;
    text-align: center;
    margin: 25px;
    text-decoration: none;
    
}

.textoBoton{
    color: black;
    position: relative;
    top: 3px;
    
}

.logoNavaja{
    display: flex;
    flex-direction: row;
    height: 32px;
    width: 32px;
    position: relative;
    top: 8px;
    
}

.logoMusica{
    display: flex;
    flex-direction: row;
    height: 32px;
    width: 32px;
    position: relative;
    top: 8px;
}

.botones a{
    display: flex;
    text-decoration: none;
    margin: auto;
    position: relative;
    right: 5px;
}

.mainSession{
    display: flex;
    flex-direction: column-reverse;
    
}
.textoProximamente{
    display: flex;
    color: wheat;
    position: relative;
    left: 90px;
    position: fixed;
    top: 0;
}


.logoSession{
    display: flex;
    
}