
* {
    margin:0; 
    padding:0;
}

.main{
    height: 100vh;
}

.logoMain{
    height: 99vh;
    width: 100%;
}

.listBotones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin: auto;
    position: fixed;
    top: 0;
}

.botones{
    display: flex;
    background-color: rgb(196, 160, 76);
    background-image: linear-gradient(to right, rgb(228, 219, 80),rgb(196, 160, 76) ,rgb(196, 160, 76), rgb(196, 160, 76), rgb(228, 219, 80));
    width: 110px;
    border-radius: 30px;
    text-align: center;
    margin: 40px;
    
}

.textoBoton{
    color: black;
    
}

.listBotones li{
    transition: transform 1s;
}

.listBotones li:hover{
    transform: scale(1.2);
}
/*

.botonReserva{
    text-decoration: none;
}

.textoReserva{
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(13, 13, 13);
    position: relative;
    background-color: rgb(240, 231, 65);
    border-radius: 20px;
    bottom: 530px;
    left: 30px;
    width: 100px;
}

.botonMusica{
    text-decoration: none;
}

.textoMusica{
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(13, 13, 13);
    position: relative;
    background-color: rgb(240, 231, 65);
    border-radius: 20px;
    bottom: 574px;
    left: 240px;
    width: 100px;
}
*7